<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script defer src="vue.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <h1>Список задач</h1>
        <div>Осталось сделать задач: <span class="counter">2</span></div>
        <div class="list">
          <div class="item" v-for="task of tasks">
            <input type="checkbox">
            {{task}}
          </div>
        </div>
        <div class="list">
          <div class="item done" v-for="taskDone in tasksDone">
            <input type="checkbox" checked>
            {{taskDone}}
          </div>
        </div>
        <div class="form">
          <input :placeholder="message">
          <button :type="btnType" :disabled="btnDiss">Добавить</button>
        </div>  
      </div>
</body>
</html>