<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="vue.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <h1>Список задач<like-btn></like-btn>></h1>
        <div v-if="count() == 0">Вы збс</div>
        <div v-else-if="count() == 1">Ласт рывок</div>
        <div>Осталось сделать задач: <span class="counter">{{count()}}</span></div>
        <div class="list">
          <div class="item" :class="{done: task.done}" v-for="task of tasks">
            <input type="checkbox" v-model="task.done">
            {{task.text}}
          </div>
        </div>
        <div class="form">
          <input v-model="message">
          <button type="button" @click="addTask">Добавить</button>
        </div>  
      </div>
</body>
</html>