.list {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px 0;
  }
  .item {
    margin: 10px 0;
  }
  .done {
    text-decoration: line-through;
  }
  .form {
    margin: 20px 0;
  }
  
  [v-cloak] {
    display: none;
  }