<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="vue.js"></script>
    <script defer src="main.js"></script>
</head>
<body>
    <div id="app" v-cloak>
        <h1 class="d-flex">Список задач</h1>
        <div v-if="count() == 0">Вы пеликолепны</div>
        <div v-else-if="count() == 1">Остался последний рывок</div>
        <div class="d-flex" v-else>Осталось сделать задач: <span class="counter">{{count()}}</span></div>
        
        <task-list :tasks="taskUncheck()" v-show="count() != 0"></task-list>
        
        <div class="form">
          <input v-model="message"  @keyup.enter="addTask" @input="inputCheck">
          <button :type="btnType" @click="addTask" :disabled="btnDiss">Добавить</button>
        </div>
        <transition name="bounce">
          <img class="img-graz" v-show="count() == 0" src="tumblr-l1iotoyo541qbn8c7_7q9s.jpg" alt="tony-stark">
        </transition>
        <task-list title :tasks="taskCheck()" v-show="count() != 0"></task-list>
      </div>
      
</body>
</html>